/*------------Contenedor principal------------*/
.contactMain{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -30px;
}
/*------------Contenedor Texto------------*/
.contactMain-div {
    width: 80vh;
    background-color: #5c7592e6;}

.colorBLue {
    color:#223142!important
}

/*------------Contenedor form------------*/

main form{
    background-color: #5c7592e6;
    margin:0px 0px;
    padding: 105px;
    width: 80vh;
}