
/*------------------NAV--------------------------*/


.navbarHeader{background-color: var(--dark-green);}  /*color fondo*/

.navbarHeader li:hover {            /*hover sobre los botones*/
    color: #344D67;
    background-color: var(--light-green);
    border-radius: 4px;
    cursor: pointer;
}



.navTitle, ul li{                   /*color y formato de  botones*/
    color: var(--light-green);
    text-decoration: none;
} 

.navTitle:hover {                   /*hover sobre el titulo*/
    color:rgb(34, 109, 66);
    cursor: pointer;
}
